RewriteEngine on

#redirect  /file.php to /file
RewriteRule ^(.+).php$ /$1 [L,R]
# now we will internally map /file to /file.php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)/?$ /meccfor/$1.php [END]

# production :
#RewriteRule ^(.*)/?$ /$1.php [END]