@import "variables";
@media all and (min-width: 1024px) {
	.mc-header { 
		background: transparent; 
		.mc-heading {
			height: 610px;
			width: $page-left-margin;
			background-size: $page-left-margin;
		}
		.mc-heading:before {
			width: $base-header;
			height: $base-header;
			top: $base-header * -0.5;
			left: $base-header * -0.5;
		}
		.mc-logo-full {
			width: $base-header * 0.33;
			padding: 32px 52px;
		}
		#menuToggle {
			position: relative;
			z-index: 10;
			left: $page-left-margin;
			top: 15px;
			span { display: none; }
			#menu{ 
				transform: none;
				width:200px;
				height: auto;
				padding: 0;
				position: absolute;
				left: 0;
				top: 10px;
				background: transparent;
				font-weight: 700;
				li ul { display: none; }
				li ul#lang {
					@include flex-box(row nowrap,center,space-between);
					position: fixed;
					top: 15px;
					right: 30px;
					margin: 0;
				}
			}
			a { color: #5c6062; }
			a:hover { border-bottom: 3px solid $color-blue;}
		}
	}
	.mc-content {
		min-height: 100%;
		margin-top: 0;
		display: block;
		&>h1 {
			margin-left: $page-left-margin - 15;
		}
		img.mc-cover-image { 
			height: 395px;
			width: 100%;
			object-fit: cover;
		}
		.mc-page-content {
			background: #f8f8f8;
			padding-left: $page-left-margin;
			min-height: calc(100vh - 30px - 395px);
			p { font-size: 1.25rem; }
			.mc-cat-subpages {
				position: fixed;
				left: 15px;
				top: 550px;
				z-index: 10;
				flex-flow: column nowrap;
			}
		}
		footer {
			background-color: #d0d0d0;
			height: 30px;
			@include flex-box(row nowrap,center,center);
		}
	}

	.mc-content-homepage {
		.mc-bigsymbol {
			background: none;
			z-index: 10;
			width: 420px;
			top: 70px;
		}
		.mc-tagline {
			font-size: 3.5rem;
			line-height: 3.5rem;
		}
		img.mc-cover-image { 
			height: 100vh;
		}
		footer {
			background-color: transparent;
		}
	}



}

@media all and (min-width: 1440px) {
	$page-left-margin: 482px;
	$base-header: 1280px;
	.mc-header {
		#menuToggle {
			left: $page-left-margin;
		}
		.mc-heading {
			height: 680px;
			width: $page-left-margin;
			background-size: $page-left-margin;
		}
		.mc-heading:before {
			width: $base-header;
			height: $base-header;
			top: $base-header * -0.5;
			left: $base-header * -0.5;
		}
		.mc-logo-full {
			width: $base-header * 0.33;
			padding: 32px 52px;
		}
	}

	.mc-content {
		&>h1 {
			margin-left: $page-left-margin - 15;
		}
		img.mc-cover-image {
			height: 439px;
		}
		.mc-page-content {
			padding-left: $page-left-margin;
			min-height: calc(100vh - 30px - 439px);
			.mc-cat-subpages {
				top: 600px;
			}
		}
	}
	.mc-content-homepage {
		img.mc-cover-image { 
			height: 100vh;
		}
	}
}